.table {
    margin-top: 25px;

    thead th {
        border-top: 2px solid #dee2e6;
        border-right: 2px solid #dee2e6;
        border-left: 2px solid #dee2e6;
        border-bottom: unset;
    }
}
