<div class="container">
  <h1 style="text-align: center">File Upload</h1>
  <br /><br />

  <div class="input-group mb-3">
    <input type="file" class="form-control" id="customFile" #uploads (change)="onChange(uploads.files)"
      value="process" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of headerColumns;">
          {{item}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of dataList">
        <td>{{ record.name }}</td>
        <td>{{ record.address }}</td>
        <td>{{ record.stars }}</td>
        <td>{{ record.contact }}</td>
        <td>{{ record.phone }}</td>
        <td>{{ record.uri }}</td>
      </tr>
    </tbody>
  </table>
</div>
